#edit-home {
  border-color: black;
  border-width: 2px;
}

#select-container {
  width: 120px;
  height: 20px;
  text-align: center;
}
#title{
  margin-bottom: 5px;
}
#title2{
  margin-bottom: 5px;
}