* {
  margin: 0;
  padding: 0;
}

span,
p {
  font-family: "Poetsen One", sans-serif;
}

.wrapper {
  background-color: #fff2eb;
  height: 100vh;
  width: 100%;
  position: relative;
}

.left-bar {
  position: absolute;
  height: 100vh;
  width: 250px;
  background-color: #ffe8cd;
  opacity: 0.7;
  text-align: center;
}

.left-bar img {
  transform: translateY(20px);
  transition: 1s;
  transform-origin: -10px -205px;
  cursor: pointer;
}
.img-wrapper:hover {
  transform: scale(1.05);
}
.img-wrapper{
  transition: 1s;
}
.img-wrapper img:hover{
  opacity: 0.7;
  transition: 1s;
}
.map-name{
  font-size: 32px;
  position: absolute;
  opacity: 0; 
  z-index: 5;
  transform: translate(65px, -80px);
  font-weight: 200;
  pointer-events: none;
  transition: 1s;
}
.img-wrapper:hover .map-name{
  opacity: 1;
}
.map-name:hover{
  opacity: 1;
}

.ready-to-game {
  position: absolute;
  transform: translate(640px, 60px);

  pointer-events: none;
  text-align: center;
  justify-content: center;
  height: 170px;
  width: 350px;
  border-radius: 15px;
  opacity: 0.7;
}
.text-span {
  z-index: 2;
  font-family: "Poetsen One", sans-serif;
  font-weight: 500;
  font-size: 72px;
}

.svg-img {
  position: absolute;
  pointer-events: none;
}
/* мечи */
#sword-svg {
  height: 350px;
  transform: translate(580px) rotate(110deg);
  opacity: 0.8;
  pointer-events: none;
}
#sword2-svg {
  height: 350px;
  transform: translate(340px, -2px) rotate(-21deg);
  opacity: 0.8;
  pointer-events: none;
}
/* выбор персонажа */
.select-player {
  display: inline-block;
  position: absolute;
  transform: translate(650px, 350px);
}
.select-player span {
  position: absolute;
  font-size: 38px;
  transform: translate(5px, -20px);
}
.person{
  transition: 1s;
}
.person:hover{
  transform: scale(1.15);
}